In [108]:
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
import json
%matplotlib inline

In [3]:
df = pd.read_csv('raw_districtwise_yield_data.csv')
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [5]:
df_fert = pd.read_csv('fertilizer.csv')
df_fert.head()

   Unnamed: 0         Crop   N   P   K   pH  soil_moisture
0           0         rice  80  40  40  5.5             30
1           3        maize  80  40  20  5.5             50
2           5     chickpea  40  60  80  5.5             60
3          12  kidneybeans  20  60  20  5.5             45
4          13   pigeonpeas  20  60  20  5.5             45

In [6]:
crop_list = df_fert['Crop'].unique()
crop_list

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [7]:
def replace(s):
    s = s.replace(' ','')
    s = s.lower()
    return s

In [8]:
df['Crop'] = df['Crop'].apply(lambda x:replace(x))
df['Crop'].unique()

array(['arecanut', 'otherkharifpulses', 'rice', 'banana', 'cashewnut',
       'coconut', 'dryginger', 'sugarcane', 'sweetpotato', 'tapioca',
       'blackpepper', 'drychillies', 'otheroilseeds', 'turmeric', 'maize',
       'moong(greengram)', 'urad', 'arhar/tur', 'groundnut', 'sunflower',
       'bajra', 'castorseed', 'cotton(lint)', 'horse-gram', 'jowar',
       'korra', 'ragi', 'tobacco', 'gram', 'wheat', 'masoor', 'sesamum',
       'linseed', 'safflower', 'onion', 'othermisc.pulses', 'samai',
       'smallmillets', 'coriander', 'potato', 'otherrabipulses',
       'soyabean', 'beans&mutter(vegetable)', 'bhindi', 'brinjal',
       'citrusfruit', 'cucumber', 'grapes', 'mango', 'orange',
       'otherfibres', 'otherfreshfruits', 'othervegetables', 'papaya',
       'pomefruit', 'tomato', 'rapeseed&mustard', 'mesta',
       'cowpea(lobia)', 'lemon', 'pomegranet', 'sapota', 'cabbage',
       'peas(vegetable)', 'nigerseed', 'bottlegourd', 'sannhamp',
       'varagu', 'garlic', 'ginger', 'oilseedstotal', 'pulsestotal',
       'jute', 'peas&beans(pulses)', 'blackgram', 'paddy', 'pineapple',
       'barley', 'khesari', 'guarseed', 'moth', 'othercereals&millets',
       'cond-spcsother', 'turnip', 'carrot', 'redish',
       'arcanut(processed)', 'atcanut(raw)', 'cashewnutprocessed',
       'cashewnutraw', 'cardamom', 'rubber', 'bittergourd', 'drumstick',
       'jackfruit', 'snakguard', 'pumpkin', 'tea', 'coffee',
       'cauliflower', 'othercitrusfruit', 'watermelon', 'totalfoodgrain',
       'kapas', 'colocosia', 'lentil', 'bean', 'jobster', 'perilla',
       'rajmashkholar', 'ricebean(nagadal)', 'ashgourd', 'beetroot',
       'lab-lab', 'ribedguard', 'yam', 'apple', 'peach', 'pear', 'plums',
       'litchi', 'ber', 'otherdryfruit', 'jute&mesta'], dtype=object)

In [9]:
main_list = df['Crop'].unique()
main_list

array(['arecanut', 'otherkharifpulses', 'rice', 'banana', 'cashewnut',
       'coconut', 'dryginger', 'sugarcane', 'sweetpotato', 'tapioca',
       'blackpepper', 'drychillies', 'otheroilseeds', 'turmeric', 'maize',
       'moong(greengram)', 'urad', 'arhar/tur', 'groundnut', 'sunflower',
       'bajra', 'castorseed', 'cotton(lint)', 'horse-gram', 'jowar',
       'korra', 'ragi', 'tobacco', 'gram', 'wheat', 'masoor', 'sesamum',
       'linseed', 'safflower', 'onion', 'othermisc.pulses', 'samai',
       'smallmillets', 'coriander', 'potato', 'otherrabipulses',
       'soyabean', 'beans&mutter(vegetable)', 'bhindi', 'brinjal',
       'citrusfruit', 'cucumber', 'grapes', 'mango', 'orange',
       'otherfibres', 'otherfreshfruits', 'othervegetables', 'papaya',
       'pomefruit', 'tomato', 'rapeseed&mustard', 'mesta',
       'cowpea(lobia)', 'lemon', 'pomegranet', 'sapota', 'cabbage',
       'peas(vegetable)', 'nigerseed', 'bottlegourd', 'sannhamp',
       'varagu', 'garlic', 'ginger', 'oilseedstotal', 'pulsestotal',
       'jute', 'peas&beans(pulses)', 'blackgram', 'paddy', 'pineapple',
       'barley', 'khesari', 'guarseed', 'moth', 'othercereals&millets',
       'cond-spcsother', 'turnip', 'carrot', 'redish',
       'arcanut(processed)', 'atcanut(raw)', 'cashewnutprocessed',
       'cashewnutraw', 'cardamom', 'rubber', 'bittergourd', 'drumstick',
       'jackfruit', 'snakguard', 'pumpkin', 'tea', 'coffee',
       'cauliflower', 'othercitrusfruit', 'watermelon', 'totalfoodgrain',
       'kapas', 'colocosia', 'lentil', 'bean', 'jobster', 'perilla',
       'rajmashkholar', 'ricebean(nagadal)', 'ashgourd', 'beetroot',
       'lab-lab', 'ribedguard', 'yam', 'apple', 'peach', 'pear', 'plums',
       'litchi', 'ber', 'otherdryfruit', 'jute&mesta'], dtype=object)

In [10]:
use_list = []
for i in main_list:
    if i in crop_list:
        use_list.append(i)

In [11]:
use_list

['rice',
 'banana',
 'coconut',
 'maize',
 'grapes',
 'mango',
 'orange',
 'papaya',
 'jute',
 'blackgram',
 'coffee',
 'watermelon',
 'lentil',
 'apple']

In [16]:
req_string = ''
for i in use_list:
    req_string+='(df['+'Crop'+']=='+i+')'+'|'
    
req_string

'(df[Crop]==rice)|(df[Crop]==banana)|(df[Crop]==coconut)|(df[Crop]==maize)|(df[Crop]==grapes)|(df[Crop]==mango)|(df[Crop]==orange)|(df[Crop]==papaya)|(df[Crop]==jute)|(df[Crop]==blackgram)|(df[Crop]==coffee)|(df[Crop]==watermelon)|(df[Crop]==lentil)|(df[Crop]==apple)|'

In [26]:
required_df = df[((df['Crop']=='rice') & (df['Crop_Year']>=2011))|
                 ((df['Crop']=='banana') & (df['Crop_Year']>=2011))|
                 ((df['Crop']=='coconut') & (df['Crop_Year']>=2011))|
                 ((df['Crop']=='maize') & (df['Crop_Year']>=2011))|
                 ((df['Crop']=='grapes') & (df['Crop_Year']>=2011))|
                 ((df['Crop']=='mango') & (df['Crop_Year']>=2011))|
                 ((df['Crop']=='orange') & (df['Crop_Year']>=2011))|
                 ((df['Crop']=='papaya') & (df['Crop_Year']>=2011))|
                 ((df['Crop']=='jute') & (df['Crop_Year']>=2011))|
                 ((df['Crop']=='blackgram') & (df['Crop_Year']>=2011))|
                 ((df['Crop']=='coffee') & (df['Crop_Year']>=2011))|
                 ((df['Crop']=='watermelon') & (df['Crop_Year']>=2011))|
                 ((df['Crop']=='lentil') & (df['Crop_Year']>=2011))|
                 ((df['Crop']=='apple') & (df['Crop_Year']>=2011))]

required_df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
760,Andhra Pradesh,ANANTAPUR,2011,Kharif,maize,25447.0,63465.0
767,Andhra Pradesh,ANANTAPUR,2011,Kharif,rice,37720.0,94531.0
779,Andhra Pradesh,ANANTAPUR,2011,Rabi,maize,6208.0,48168.0
783,Andhra Pradesh,ANANTAPUR,2011,Rabi,rice,10948.0,25542.0
789,Andhra Pradesh,ANANTAPUR,2011,Whole Year,banana,8000.0,505176.0

In [29]:
print(['rice',
 'banana',
 'coconut',
 'maize',
 'grapes',
 'mango',
 'orange',
 'papaya',
 'jute',
 'blackgram',
 'coffee',
 'watermelon',
 'lentil',
 'apple'])

['rice', 'banana', 'coconut', 'maize', 'grapes', 'mango', 'orange', 'papaya', 'jute', 'blackgram', 'coffee', 'watermelon', 'lentil', 'apple']

In [30]:
crop_list = ['rice','maize','jute']
fruit_list = ['apple','mango','banana']

## Main code begins here

In [ ]:
crop_list = ['rice','maize','jute']
fruit_list = ['apple','mango','banana']

In [62]:
rice_df = df[(df['Crop']=='rice')]
maize_df = df[(df['Crop']=='maize')]
jute_df = df[(df['Crop']=='jute')]
apple_df = df[(df['Crop']=='apple')]
mango_df = df[(df['Crop']=='mango')]
banana_df = df[(df['Crop']=='banana')]
papaya_df = df[df['Crop']=='papaya']

In [55]:
rice_df

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,rice,102.00,321.00
12,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,rice,83.00,300.00
18,Andaman and Nicobar Islands,NICOBARS,2002,Kharif,rice,189.20,510.84
27,Andaman and Nicobar Islands,NICOBARS,2003,Kharif,rice,52.00,90.17
36,Andaman and Nicobar Islands,NICOBARS,2004,Kharif,rice,52.94,72.57
...,...,...,...,...,...,...,...
246049,West Bengal,PURULIA,2013,Summer,rice,516.00,1274.00
246052,West Bengal,PURULIA,2013,Winter,rice,302274.00,730136.00
246058,West Bengal,PURULIA,2014,Autumn,rice,264.00,721.00
246086,West Bengal,PURULIA,2014,Summer,rice,306.00,801.00
246089,West Bengal,PURULIA,2014,Winter,rice,279151.00,597899.00

In [63]:
rice_df = rice_df.groupby(['State_Name']).mean().sort_values(by = ['Production'],ascending=False)
maize_df = maize_df.groupby(['State_Name']).mean().sort_values(by = ['Production'],ascending=False)
jute_df = jute_df.groupby(['State_Name']).mean().sort_values(by = ['Production'],ascending=False)
mango_df = mango_df.groupby(['State_Name']).mean().sort_values(by = ['Production'],ascending=False)
papaya_df = papaya_df.groupby(['State_Name']).mean().sort_values(by = ['Production'],ascending=False)
banana_df = banana_df.groupby(['State_Name']).mean().sort_values(by = ['Production'],ascending=False)

In [64]:
papaya_df

                  Crop_Year         Area    Production
State_Name
Andhra Pradesh  2009.476923   408.230769  41551.092308
Kerala          2005.860465  1214.906977   6225.000000
Assam           2009.512987   287.032468   5234.201299
Telangana       2002.461538    43.384615   4766.076923
Manipur         2002.500000   215.277778   1218.888889
Chhattisgarh    2002.533333    17.066667    679.133333
Meghalaya       2002.500000    84.785714    625.714286
Madhya Pradesh  2002.513158    19.473684    536.328947
Karnataka       2002.000000    74.478261    171.782609
Rajasthan       2002.466667     9.800000     13.333333
Tamil Nadu      2002.531250    21.750000      0.000000

In [65]:
dumm = rice_df.head()
dumm

                  Crop_Year           Area     Production
State_Name
Punjab          2005.991124  142304.733728  531662.721893
Andhra Pradesh  2005.729730   96774.035343  298840.862786
Chhattisgarh    2007.857143  198443.972789  279104.856164
West Bengal     2005.513932  105256.402477  266349.689370
Telangana       2004.964856   76173.517572  221072.447284

In [66]:
rice = rice_df.head()
maize = maize_df.head()
jute = jute_df.head()
mango = mango_df.head()
papaya = papaya_df.head()
banana = banana_df.head()

In [89]:
df_list = [rice,maize,jute,mango,papaya,banana]

In [77]:
df_list = [rice,maize,jute,mango,papaya,banana]
for i in df_list:
    i.drop(['Crop_Year'],axis = 1,inplace = True)

C:\Users\meet\anaconda3\envs\tensorflow_ennv\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [90]:
def addcol(df):
    name_list = []
    for i in df.index:
        name_list.append(i)
        
    return name_list

In [91]:
final_list = []
for i in df_list:
    final_list.append(addcol(i))

In [92]:
final_list

[['Punjab', 'Andhra Pradesh', 'Chhattisgarh', 'West Bengal', 'Telangana '],
 ['Telangana ', 'Himachal Pradesh', 'Rajasthan', 'Andhra Pradesh', 'Punjab'],
 ['West Bengal', 'Bihar', 'Assam', 'Meghalaya', 'Odisha'],
 ['Andhra Pradesh', 'Kerala', 'Tamil Nadu', 'Telangana ', 'Karnataka'],
 ['Andhra Pradesh', 'Kerala', 'Assam', 'Telangana ', 'Manipur'],
 ['Gujarat', 'Tamil Nadu', 'Maharashtra', 'Andhra Pradesh', 'Madhya Pradesh']]

In [94]:
def addcol(df,lists):
    df['State'] = lists

In [96]:
for i,j in zip(df_list,final_list):
    addcol(i,j)

C:\Users\meet\anaconda3\envs\tensorflow_ennv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_list = [rice,maize,jute,mango,papaya,banana]

In [100]:
rice = rice[['State','Area','Production']]
maize = maize[['State','Area','Production']]
jute = jute[['State','Area','Production']]
mango = mango[['State','Area','Production']]
papaya = papaya[['State','Area','Production']]
banana = banana[['State','Area','Production']]

In [109]:
rice_chart = rice.to_dict(orient='records')
maize_chart = maize.to_dict(orient='records')
jute_chart = jute.to_dict(orient='records')
mango_chart = mango.to_dict(orient='records')
papaya_chart = papaya.to_dict(orient='records')
banana_chart = banana.to_dict(orient='records')

In [111]:
def writejson(file_name,chart_data):
    json_ob = json.dumps(chart_data,indent=2)
    with open(file_name,"w") as outfile:
        outfile.write(json_ob)

In [113]:
file_list = ['rice.json','maize.json','jute.json','mango.json','papaya.json','banana.json']
dict_list = [rice_chart,maize_chart,jute_chart,mango_chart,papaya_chart,banana_chart]
for i,j in zip(file_list,dict_list):
    writejson(i,j)